@import '@/styles/variable.sass'

.form-item
  min-width: 500px
  display: flex
  flex-direction: column
  padding: 15px
  border: 1px solid $info-color

  &_success
    border: 2px solid $accent-color

.form-item__main-info
  display: flex
  gap: 20px
  margin-bottom: 10px
  flex-wrap: wrap

p
  margin: 0
  font-size: 1rem
  color: $dark-color
